*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	text-align: center;
	font-family: cursive;
	font-family: cursive;
}
.wrapper{
	width: 1170px;
	margin: auto;
	position: fixed;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(new-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	opacity: 1;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	position: relative;

}
.nav-area{
	float: right;
	list-style: none;
	margin-top: 30px;

}
.nav-area li{
	display: inline-block;
}
.nav-area li a{
	color: #ffffff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
}
.nav-area li a:hover{
	background: #ffffff;
	color: #333;
}
.logo {
	width: 100px;
	float: left;
	height: auto;
	font-size: 40px;
	color: white;
	margin-left: 10px;
}
.welcome-text{
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1{
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 60px
}
#Projects{
	display: flex;
	margin: 10px;
	color: purple;
	font-size: 30px;
	width: 100%;
	justify-content: space-around;
}
.btn{
	color: blue;
}
.container{
	justify-content: space-around;
	align-items: center;
	margin-left: 30%;
}
